@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
    /*All text stays within browser window*/
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

/*Navigation*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
}

.navbar-brand {
    height:2rem;
}

.navbar-nav li{
    padding-right:.7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top:.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:#1ebba3;
}
/*Landing Page Css*/ 

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top:38%;
    z-index: 1;
    color:white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight:700; 
    letter-spacing: .3rem;
    text-shadow: 1rem 1rem 2rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: 1rem 1rem 2rem black;
    padding-bottom: 1.6rem;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1rem;
    font-size: 1.3rem;
}

p {
    line-height:2em;
}

.project p, li, h5{
    color:white;
}

.project img {
    width:700px;
    height:300px;
}
.project{
    margin-top:50px;
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}